table {
  width: 90%;
  margin: auto;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  position: relative;
}
tr:hover{
  background: rgba(203, 199, 188, 0.76);
}

.tbl tr:hover {
  background: none;
}

tr {
  border-bottom: 1px solid #d0d0d0;
  font-family: 'Open Sans', sans-serif;
  color: #404040;
}

.th1 {
  width: 15%;
}

.th2 {
  width: 13%;

}

.th3 {
  width: 50%;
  padding-left: 20px;
}

.th4 {
  width: 25%;
  padding-left: 90px;
}

td, th {
  width: 25%;
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

table, th, td {
  border: none;
}

/*Для поиска*/

.d2 {
  width: 15%;
  margin-left: 70%;
}

.d2 input{
  border: 1px solid rgba(178, 167, 135, 0.4);
  outline: none;
  border-radius: 3px;
}

.d2 input {
  width: 100%;
  height: 42px;
  background: #f3faf4;
  padding-left: 10px;
}

.header {
  font-weight: 600;
  text-decoration: underline;
  margin-left: 12rem;
  font-size: 1.2em;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
