<table class="main_tbl">
  <thead>
  <tr class = "t">
    <th class = "h1">{{myProject.Name}}</th>
    <!--<th class = "h3"
        [ngClass]="{
        'set' : settings}">
      <a href="myprojects#settings"
         (click)="clickOnSettings()">Настройки</a></th>-->
  </tr>
  </thead>
</table>

<br>

<table id="table2" class="tbl2" *ngIf="settings">
  <tbody>
  <projects-settings (onChecked)="childOnChecked($event)"
                     *ngFor="let box of checkboxes" [box]= "box">
  </projects-settings>
  </tbody>
</table>


<table class = "tbl" id="table1" *ngIf="!settings">
  <tbody>
  <tr>
    <td>Общее количество задач</td>
    <td>{{stat.AllIssuesCount}}</td>
  </tr>
  <tr>
    <td>Количество открытых задач</td>
    <td>{{stat.OpenIssuesCount}}</td>
  </tr>
  <tr>
    <td>Количество закрытых задач</td>
    <td>{{stat.CloseIssuesCount}}</td>
  </tr>
  <tr id = "reopen_task_count">
    <td>Количество переоткрытых задач</td>
    <td>{{stat.ReopenedIssuesCount}}</td>
  </tr>
  <tr id = "resolved_task_count">
    <td>Количество разрешенных задач</td>
    <td>{{stat.ResolvedIssuesCount}}</td>
  </tr>
  <tr id = "progress_task_count">
    <td>Количество задач со статусом "In progress"</td>
    <td>{{stat.ProgressIssuesCount}}</td>
  </tr>
  <tr>
    <td>Среднее время выполнения задачи(часы)</td>
    <td>{{stat.AverageTime}}</td>
  </tr>
  <tr>
    <td>Среднее количество заведенных задач в день за последнюю неделю</td>
    <td>{{stat.AverageIssuesCount}}</td>
  </tr>
  </tbody>
</table>
<br>

<button class="btn" *ngIf="!settings" [disabled]="disableCheckResultButton()"
        (click)="checkResult()">
  Посмотреть
</button>

<button class="btn" *ngIf="settings" [disabled]="disableAnalyzeButton()"
        (click)="processProject()">
  Обработать
</button>
<br>
<br>
<br>
