<div class="body">
  <h3>
    <a href="http://{{webUrl}}/myprojects">
      Мои проекты
    </a>
    > {{ projects[0].toString() }}
  </h3>
  <div class="container">
    <p id ="open-task-title">Гистограмма, отражающая время, которое задачи провели в открытом состоянии</p>
    <div class="chart" id="open-task" [chart]="openTaskChart"></div>
    <!--<p id ="open-state-title">Диаграмма, демонстрирующая распределение времени по состоянию "Open"</p>
    <div class="chart" id="open-state" [chart]="openStateChart"></div>
    <p id ="resolve-state-title"> Диаграмма, демонстрирующая распределение времени по состоянию "Resolve"</p>
    <div class="chart" id="resolve-state" [chart]="resolveStateChart"></div>
    <p id ="progress-state-title"> Диаграмма, демонстрирующая распределение времени по состоянию "Progress"</p>
    <div class="chart" id="progress-state" [chart]="progressStateChart"></div>
    <p id ="reopen-state-title">Диаграмма, демонстрирующая распределение времени по состоянию "Reopen" </p>
    <div class="chart" id="reopen-state" [chart]="reopenStateChart"></div>
    <p id ="activity-by-task-title">График активности по задачам</p>-->
   <!-- <div class="chart" id="activity-by-task" [chart]="activityByTaskChart"></div>-->
    <p id ="complexity-task-title">График сложности задач </p>
    <div class="chart" id="complexity-task" [chart]="complexityTaskChart"></div>
    <p id ="task-priority-title">График, отражающий приоритетность всех задач </p>
    <div class="chart" id="task-priority" [chart]="taskPriorityChart"></div>
    <p id ="close-task-priority-title">График, отражающий приоритетность закрытых задач </p>
    <div class="chart" id="close-task-priority" [chart]="closeTaskPriorityChart"></div>
  </div>
</div>
