<body>
<h1><span style="font-size:36px" class="ml-5 font-bold">Jira analyzer</span></h1>

<p>&nbsp;</p>

<p><span style="font-size:20px" class="ml-5">Данное приложение позволяет осуществить аналитику по проектам из открытых источников Jira.</span></p>

<p><br />
  <span style="font-size:20px" class="ml-5">Добавить проекты для аналитики вы можете на странице &quot;Проекты&quot;.</span></p>

<p><br />
  <span style="font-size:20px" class="ml-5">Посмотреть статистику по скачанным проектам и выполнить аналитические задачи для выбранных проектов вы можете через страницу &quot;Добавленные проекты&quot;. Результат выполнения аналитических задач будет представлен в виде графика.</span></p>

<p><span style="font-size:20px" class="ml-5">Это будет гистограмма, отражающая время, которое задачи провели в открытом состоянии.</span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px" class="ml-5 font-">Провести сравнение по проектам можно перейдя на страницу &quot;Сравнение&quot;. Обратите внимание на то, что в результате сравнения проектов будут построены только те сводные диаграммы, аналитика, для которых вызывалась у всех проектов, которые вы хотите сравнить.</span></p>
</body>
