.chart {
  display: table;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
  grid-gap: 20px;
  place-content: center;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}

table{
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.body {
  margin-left: 12rem;
}

.header {
  font-weight: 600;
  font-size: 1.2em;
}
